
.hero-container {
   position: relative;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   z-index: 0;
   background: var(--hero-background);

   width: 100%;
   min-height: 70vh;
   color: #000000;
}

.hero-container > * {
    position: relative;
    z-index: 1;
}

.hero-title,
.hero-slogan {
    color: #000000;
}

.logo-hero {
    display: absolute;
    z-index: -1000;
}

.hero-btn {
    width: 150px;
}