
.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100px;
  background: transparent;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  color: white;
}


.header-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; 
}

.account-btn {
  background-image: url('/public/account-ico-white.svg');
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.logo-header {
  width: 60px;
  height: auto;
  
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 75%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btns-holder {
  display: flex;
  gap: 35px;
  justify-content: end;
  color:aliceblue;
}

.btns-holder > a{
  color:aliceblue;
}

.account-btn-holder {
  display: flex;
  gap: 20px;
  align-items: center;
}

.signin-btn {
  display: inline-flex;
  align-items: center;
}

.logout-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.account-btn {
  content: "Account";
  color: #000000;
}

.header-menu-btn {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.header-menu-btn:hover {
  color: #f0c14b;
}

.burger-btn {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-btn span {
  width: 28px;
  height: 3px;
  background: whitesmoke;
  transition: 0.3s;
}

.burger-btn.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger-btn.open span:nth-child(2) {
  opacity: 0;
}
.burger-btn.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  text-align: center;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: 2;
  position: absolute;
  top: 100px;
  right: 0;
}

.mobile-menu.show {
  display: flex;
  opacity: 1;
  max-height: 350px;
  pointer-events: auto;
  animation: dropdown 0.35s ease forwards;
  background: rgb(0, 0, 0, 0.5);
  width: 50vw;
}

.mobile-menu.show > a {
  color: aliceblue;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
    
  }

  .burger-btn {
    display: flex;
  }
}
